<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="BillHub Test Automation Test Suite">

	<listeners>
		<listener class-name="com.billhub.qa.extentReportListener.ExtentReportNG" />
	</listeners>
	
	<test name="BillHub App Test Cases">
		<classes>

			<class name="com.billhub.qa.testcases.CreateNonPOBasedInvoicePageTest">
                <methods>
                    <include name="submitMemoWithValidDataTest"></include>
                </methods>
            </class>

			 <class name="com.billhub.qa.testcases.NonPoBasedInvoiceAcknowledgementTest">
                <methods>
                    <include name="validateSubmittedBTBasedInvoiceInDashboardTest"/>
                    <include name="validateAcknowledgeTheMemoTest"/>
                    <include name="validateAcknowledgedStatusTest"/>
                    <include name="verifyInvoiceWithValidDataTest"/>
                    <include name="validateVerifiedStatusTest"/>
                    <include name="bookingInvoiceWithValidDataTest"/>
                    <include name="searchByTransactionBatchIdTest"/>
                </methods>
            </class>
		</classes>
	</test>
</suite>

